#videoBG {
    
    z-index: -1;
    width:100%;     
    height: auto;
}

.jumbotron { color: rgb(132, 219, 219);
    background: rgba(204, 204, 204, 0.5);
}

.info {
    background: rgba(8, 8, 8, 0.5);
}